/* LoginPage.css */
  
  .login-page {
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    display: flex;
    gap: 2rem;
  }
  
  .login-form {
    width: 350px;

    padding: 2rem;
    background-color: white;
    border-radius: 8px;
  }
  
  .login-form h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .login-form p {
    font-size: 0.9rem;
    color: #6c757d;
  }
  
  .login-form a {
    color: #007bff;
    text-decoration: none;
  }

  .custom-checkbox .form-check-input {
    border: 2px solid #000; /* Black border */
    border-radius: 0; /* Removes rounded corners to make it square */
    width: 20px; /* Adjust width */
    height: 20px; /* Adjust height */
    padding: 2px; /* Adjust padding for better look */
  }
  

  .line-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .line {
    width: 100%;
    border: none;
    border-top: 2px solid #000;
    margin: 10px 0;
  }
  
  .word {
    padding: 0 10px;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
  }
  
  
  .social-login {
    margin-top: 1rem;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #000; /* Border for the circular outline */
    border-radius: 50%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .key-icon {
    width: 500px;
  }
  
  
  .login-illustration {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .illustration-container img {
    max-width: 80%;
    height: auto;
  }
  