.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
  }
  
  .custom-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-btn,
  .next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .custom-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: gray;
    border: none;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: black;
  }
  