.custom-carousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: #ffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-carousel .carousel-indicators .active {
  background-color: #000;
}

.custom-carousel .carousel-indicators [data-bs-target]:hover {
  background-color: #fff;
}

.arrow-prev{
  color: #000000;
  padding-top: 355px;
  padding-left: 475%;
}

.arrow-next{
  color: #000000;
  padding-top: 355px;
  padding-right: 475%;
}

@media (max-width: 1200px) {
  .arrow-prev{
    padding-left: 450%;
  }
  
  .arrow-next{
    padding-right: 450%;
  }
}

@media (max-width: 992px) {
  .arrow-prev{
    padding-left: 400%;
  }
  
  .arrow-next{
    padding-right: 400%;
  }
}

@media (max-width: 768px) {
  .arrow-prev{
    padding-left: 350%;
  }
  
  .arrow-next{
    padding-right: 350%;
  }
}

@media (max-width: 576px) {
  .arrow-prev{
    padding-left: 300%;
  }
  
  .arrow-next{
    padding-right: 300%;
  }
}